
body{
    background-color: brown;
}

.imagenPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 145em;
}